.px-iv {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-iv {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.img-preview {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-preview.active {
  visibility: visible;
}

.img-preview > div {
  background-color: #fff;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-preview > div > div.headder {
  background-color: rgb(95, 95, 172);
  padding: 20px;
  width: 100%;
}
.img-preview > div > div > h2 {
  font-size: 30px;
  color: #fff;
  font-family: nunito;
}

.img-preview > div > div.conttentt {
  padding: 20px;
}

.img-preview > div > div.conttentt img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .img-preview > div {
    width: 300px;
  }
}
